h1{
  color: white;
  background: black;
  font-family: 궁서체;
  text-align: center;
}
.mystyle{
  color: red;
  font-family: 고딕체;
  font-size: 150%;
}
a{
  font-size: 300%;
}
div{
  text-align: center;
}
dl{
  background-color: orange;
}
